<app-navbar></app-navbar>

<div class="container">
    <div class="main" style="width: 1300px;">

        <div class="left">
            <div class="left-side-img">
                <img class="left-side-img-style" src="../../assets/Images/Alloy-1-interior.png" alt="">
                <img class="left-side-img-style" src="../../assets/Images/Alloy-4.png" alt="">
            </div>
            <div class="left-main-img">
                <img class="left-main-img-style" src="../../assets/Images/Alloy-4.png" alt="">
            </div>
        </div>
        <div class="right">
            <p class="right-title">UNO Minda W1D122-000M00 15 inch Car Alloy Rim, PCD 100, 5 Hole, Black Machined finish Car Alloy Wheel</p>
                <div class="right-start">
                    <div class="right-content">
                        <p class="right-content-rate">₹8,030</p>
                        <p class="right-content-emi">Inclusive of all taxes
                            EMI starts at ₹253. No Cost EMI available</p>
                    </div>
                    <div class="right-content-delivery">
                        <img src="../../assets/Images/Ship-icon.png" alt="">
                        <img src="../../assets/Images/pay-icon.png" alt="">
                        <img src="../../assets/Images/return icon.png" alt="">
                    </div>
                    <div class="right-content-table">
                        <table>
                            
                        </table>
                    </div>
                </div>

                <div class="right-end"></div>
        </div>
    </div>
    
</div>